/* @group reset */
/* http://meyerweb.com/eric/tools/css/reset/ | v2.0 | 20110126 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font-weight: inherit;
	font-family: inherit;
	font-style: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* @end */

/* @group structure */

html {
	overflow-y: scroll;
}

body {
	background: #fff url(../images/12_col.gif) repeat-y fixed top center;
	font: 62.5% "Arial", Verdana, sans-serif;
	color: #333;
	text-align: left;
	width: 960px;
	margin: 0 auto;
}

/* @end */

/* @group header */

[role="banner"] {
	width: 100%;
	height: px;
	margin: 35px 0;
}

[role="banner"] h1 a:link, [role="banner"] h1 a:active, [role="banner"] h1 a:visited {
	font-size: 4.0em;
	color: #;
	text-decoration: none;
}

[role="banner"] h1 a:focus {
	outline: thin dotted;
}

[role="banner"] h1 a:hover {
	color: #;
	text-decoration: underline;
}

/* @group nav */

nav {
	overflow: hidden;
}

nav ul {
	float: left;
	width: 100%;
	margin-bottom: px;
}

nav ul li {
	display: inline;
}

nav ul li a:link, nav ul li a:visited, nav ul li a:active {
	float: left;
	display: block;
	margin-left: px;
	padding: px;
	color: #;
	background: #;
	text-decoration: none;
}

nav ul li:first-child a {
	margin-left: 0;
}

nav ul li a:focus {
	outline: thin dotted;
}

nav ul li a:hover {
	color: #;
	text-decoration: underline;
}

/* @end */

/* @end */

/* @group main */

[role="main"] {
	float: left;
	display: inline;
	width: 620px;
	color: #;
	margin-left: 10px;
}

.main a:link, .main a:active, .main a:visited {
	color: #;
	text-decoration: none;
}

.main a:focus {
	outline: thin dotted;
}

.main a:hover {
	color: #;
	text-decoration: underline;
}

.main a:active, .main a:hover {
	outline: 0;
}

.main .huge, .main h2 {
	font-size: 3.0em;
	padding: 5px 0 10px;
} 

.main .large, .main h3 {
	font-size: 2.6em;
	padding: 5px 0 10px;
} 

.main .bigger, .main h4 {
	font-size: 2.2em;
	padding: 5px 0 10px;
}

.main h5 {
	font-size: 1.9em;
	padding: 5px 0 8px;
}

.main h6 {
	font-size: 1.6em;
	padding: 5px 0 8px;
}

.main p, .main blockquote {
	margin-bottom: 20px;
	font-size: 1.4em;
	line-height: 1.4em;
}

.main ul {
	margin: 0 0 15px 30px;
}

.main ul li {
	list-style-type: square;
}

.main ol {
	margin: 0 0 15px 30px;
	list-style-type: decimal;
}

.main ol li {
	list-style-type: decimal;
}

.main li {
	margin-bottom: 5px;
	font-size: 1.3em;
	line-height: 1.4em;
}

.main li li {
	font-size: 1em;
}

/* @end */

/* @group sidebar */

[role="complementary"] {
	float: right;
	display: inline;
	width: 300px;
	font-size: .95em;
	color: #;
	margin-right: 10px;
}

aside a:link, aside a:active, aside a:visited {
	color: #;
	text-decoration: none;
}

aside a:focus {
	outline: thin dotted;
}

aside a:hover {
	color: #;
	text-decoration: underline;
}

aside a:active, aside a:hover {
	outline: 0;
}

aside h2 {
	font-size: 2.3em;
	padding: 5px 0 10px;
} 

aside h3 {
	font-size: 2.0em;
	padding: 5px 0 8px;
} 

aside h4 {
	font-size: 1.7em;
	padding: 5px 0 8px;
}

aside h5 {
	font-size: 1.5em;
	padding: 5px 0 8px;
}

aside h6 {
	font-size: 1.2em;
	padding: 5px 0 8px;
}

aside p, aside blockquote {
	margin-bottom: 1.8em;
	font-size: 1.3em;
	line-height: 1.4em;
}

aside ul {
	margin: 0 0 15px 30px;
}

aside ul li {
	list-style-type: square;
}

aside ol {
	margin: 0 0 15px 30px;
	list-style-type: decimal;
}

aside ol li {
	list-style-type: decimal;
}

aside li {
	margin-bottom: 5px;
	font-size: 1.3em;
	line-height: 1.4em;
}

aside li li {
	font-size: 1em;
}

/* @end */

/* @group forms */

form {
	margin: 0;
}

fieldset {
	margin: 0;
	padding: 0;
	border: 0;
}

legend {
	border: 0;
	padding: 0;
}

label, input[type=button], input[type=submit], button {
	cursor: pointer;
}

input[type="radio"] {
	vertical-align: text-bottom;
}

input[type="checkbox"] {
	vertical-align: bottom;
}

.ie7 input[type="checkbox"] {
	vertical-align: baseline;
}

textarea { 
	overflow: auto;
	vertical-align: top;
	resize: vertical;	
}

/* @end */

/* @group footer */

footer[role="contentinfo"] {
	clear: both;
	float: left;
	display: inline;
	margin: 25px 0;
}

footer[role="contentinfo"] p {
	color: #666;
	font-size: 1.2em;
}

footer[role="contentinfo"] a:link, footer[role="contentinfo"] a:active, footer[role="contentinfo"] a:visited {
	color: #;
	text-decoration: none;
}

footer[role="contentinfo"] a:focus {
	outline: thin dotted;
}

footer[role="contentinfo"] a:hover {
	color: #;
	text-decoration: underline;
}

/* @end */

/* @group misc */

.clear {
	clear: both;
	margin: 0;
	padding: 0;
	height: 0;
}

/* Hide from browsers */
.hide, [hidden] {
	display: none;
}

/* Hide from browsers & screenreaders */
.hidden {
	display: none;
	visibility: hidden;
}

/* Hide from browsers, available to screenreaders */
.visuallyHidden {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}

/* Extends the .visuallyhidden class to allow the element to be focusable when navigated to via the keyboard: h5bp.com/p */
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { 
	clip: auto;
	height: auto;
	margin: 0;
	overflow: visible;
	position: static;
	width: auto;
}


/* Hide from browsers & screenreaders, maintain layout */
.invisible { 
	visibility: hidden;
}

.left {
	float: left;
}

.right {
	float: right;
}

pre, code, kbd, samp {
	font-family: monospace, serif;
	_font-family: 'courier new', monospace;
}

strong, b, th {
	font-weight: bold;
}

em, i {
	font-style: italic;
}

pre { 
  padding: 15px; 
  white-space: pre; /* CSS2 */
  white-space: pre-wrap; /* CSS 2.1 */
  word-wrap: break-word; /* IE */
}

::-moz-selection {
	background: #62aaf2;
	color:#fff;
	text-shadow: none;
}

::selection {
	background:#62aaf2;
	color:#fff;
	text-shadow: none;
}

img {
	border: 0;
	-ms-interpolation-mode: bicubic;
	vertical-align: middle;
}

svg:not(:root) {
	overflow: hidden;
}

audio, canvas, video {
	display: inline-block;
	*display: inline;
	*zoom: 1;
}

audio:not([controls]) {
	display: none;
}

/* @end */

@media only screen and (min-width: 480px) {
  /* Style adjustments for viewports 480px and over go here */
}

@media only screen and (min-width: 768px) {
  /* Style adjustments for viewports 768px and over go here */
}

@media print {
	* { background: transparent !important; color: black !important; box-shadow:none !important; text-shadow: none !important; filter:none !important; -ms-filter: none !important; }
	a, a:visited { text-decoration: underline; }
	a[href]:after { content: " (" attr(href) ")"; }
	abbr[title]:after { content: " (" attr(title) ")"; }
	.ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }
	pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
	thead { display: table-header-group; }
	tr, img { page-break-inside: avoid; }
	img { max-width: 100% !important; }
	@page { margin: 0.5cm; }
	p, h2, h3 { orphans: 3; widows: 3; }
	h2, h3 { page-break-after: avoid; }
}